<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">{{title}}</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'over'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <mat-accordion >
          <div *ngFor="let cat of this.nav">
            <div class="nav-head" *ngIf="cat.subCat.length === 0">
              <a class="nav-link" [routerLink]="cat.link" routerLinkActive="selected" (click)="closeSidenav()">
                <span class="nav-link-text">{{cat.cat}}</span>
              </a>
            </div>
            <!-- use expansion panel for heading item with sub page links -->
            <mat-expansion-panel *ngIf="cat.subCat.length > 0" class="mat-elevation-z0">
              <mat-expansion-panel-header class="nav-head" [expandedHeight]="'48px'">
                <mat-panel-title class="nav-link">
                  <span class="nav-link-text">{{cat.cat}}</span>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div class="nav-section">
                <!-- loop through all your sub pages inside the expansion panel content -->
                <div *ngFor="let navPage of cat.subCat" class="nav-item">
                  <!-- <a class="nav-link" [routerLink]="navPage.link" routerLinkActive="selected" (click)="closeSidenav()">{{navPage.cat}}</a> -->

                  <!-- if has no sub category -->
                  <span *ngIf="navPage.subCat.length === 0">
                    <button mat-menu-item >{{navPage.cat}}</button>
                  </span>

                  <!-- if has sub category -->
                  <span *ngIf="navPage.subCat.length > 0">
                    <button mat-menu-item [matMenuTriggerFor]="menu" >{{navPage.cat}}</button>
                    <mat-menu #menu="matMenu">

                      <!-- if has sub category -->
                      <span *ngIf="navPage.subCat.length > 0">
                        <span *ngFor="let sideCat of navPage.subCat">
                          <!-- if has no sub category -->
                          <span *ngIf="sideCat.subCat.length === 0">
                              <button mat-menu-item >{{sideCat.cat}}</button>
                          </span>

                          <!-- if has sub category -->
                          <span *ngIf="sideCat.subCat.length > 0">
                            <button mat-menu-item [matMenuTriggerFor]="sideMenu" >{{sideCat.cat}}</button>
                            <mat-menu #sideMenu="matMenu">
                              <button mat-menu-item *ngFor="let sideSideCat of sideCat.subCat">{{sideSideCat.cat}}</button>
                            </mat-menu>
                          </span>

                        </span>
                      </span>
                    </mat-menu>
                  </span>
                </div>
              </div>
            </mat-expansion-panel>
          </div>
        </mat-accordion>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content >
      <div class="articleMain">
        <router-outlet></router-outlet>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


