<div>
  <img src="{{this.company.logo}}" class="logoCompany">
</div>
<div class="logoConsoleWrapper">
  <img src="{{this.console.logo}}" class="logoConsole">
</div>
<div class="consoleName">
  <h1>{{this.console.name}}</h1>
</div>
<div class="info">

  <div class="intro" *ngIf="this.console.info.intro.length > 0">
    <span *ngFor="let par of this.console.info.intro">
      <p>{{this.par}}</p>
    </span>
  </div>
  <div class="console">
      <img src="{{this.console.photo}}">
  </div>

  <div class="videoOutput" *ngIf="this.console.info.video.length + this.console.info.videoTLDR.length + this.console.info.videoModern.length > 0">
    <h2>Video Output</h2>
    <p *ngIf="this.console.info.videoTLDR.length > 0">
      <b>TLDR</b>
      <span *ngFor="let par of this.console.info.videoTLDR">
        {{this.par}}
      </span>
    </p>
    <span *ngFor="let par of this.console.info.video">
      <p>{{this.par}}</p>
    </span>
    <h4 *ngIf="this.console.info.videoModern.length > 0">Modern Solutions</h4>
    <span *ngFor="let par of this.console.info.videoModern">
        <p>{{this.par}}</p>
    </span>
  </div>
  <div class="addOns" *ngIf="this.console.info.addOn.length > 0">
      <h2 >Add On's</h2>
      <span *ngFor="let par of this.console.info.addOn">
          <p>{{this.par}}</p>
      </span>
    </div>
  <div class="access" *ngIf="this.console.info.accesories.length > 0">
    <h2>Notable Accessories</h2>
    <span *ngFor="let par of this.console.info.accesories">
        <p>{{this.par}}</p>
    </span>
  </div>
  <div class="modernVersions" *ngIf="this.console.info.modernVer.length > 0">
    <h2 >Modern Versions</h2>
    <span *ngFor="let par of this.console.info.modernVer">
        <p>{{this.par}}</p>
    </span>
  </div>
</div>
<div>
  <h6><b>* Most of the information and images displayed on this site has been based off of videos and articles by <a href="https://www.youtube.com/mylifeingaming">My Life In Gaming</a>, <a href="https://www.retrorgb.com/">Retro RGB</a>, and <a href="https://www.youtube.com/user/AdamKoralik">Adam Koralik</a> *</b></h6>
</div>
