.logoCompany {
  width: 20%;
}
.logoConsole {
  width: 50%;
}
.logoConsoleWrapper {
  text-align: center;
  margin: 5%;
}
.consoleName {
  text-align: center;
}
.console {
  text-align: center;
}
h6 {
  font-weight: bolder;
}
